@{
    this.ViewData["Title"] = "Create a new category";
    this.ViewData["Action"] = "Create";
    this.ViewData["SubmitButton"] = "Create";
    this.ViewData["PostFormVisibility"] = "block";  
}

@model CategoryViewModel

<h2>Create a new category</h2>

<partial name="_CategoryForm" />