@{
    this.ViewData["Title"] = "Edit category";
    this.ViewData["Action"] = "Edit";
    this.ViewData["SubmitButton"] = "Save";
    this.ViewData["PostFormVisibility"] = "block";
}

@model CategoryViewModel

<h2>Edit the category</h2>

<partial name="_CategoryForm" />