<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PhotoContest</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<h1>CreateD</h1>

You successfully created a new PhotoPost

<img src="https://i.pinimg.com/originals/91/36/df/9136df0949a40e6567c6f4f7a6343672.gif" class="img-fluid" alt="Responsive image">
